*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
app/libs/card.io-dmz/
app/src/main/res/drawable/
card.io/build/generated/assets/
card.io/build/generated/res/
card.io/build/generated/source/aidl/
card.io/build/generated/source/r/debug/
card.io/build/generated/source/rs/
card.io/build/intermediates/bundles/debug/aidl/
card.io/build/intermediates/bundles/debug/assets/
card.io/build/intermediates/bundles/debug/res/
card.io/build/intermediates/bundles/release/aidl/
card.io/build/intermediates/bundles/release/assets/
card.io/build/intermediates/bundles/release/res/
card.io/build/intermediates/incremental/mergeDebugAndroidTestResources/aapt-temp/
card.io/build/intermediates/incremental/mergeDebugAndroidTestResources/merged.dir/
card.io/build/intermediates/incremental/packageDebugAndroidTest/
card.io/build/intermediates/incremental/packageDebugResources/aapt-temp/
card.io/build/intermediates/incremental/packageDebugResources/merged.dir/
card.io/build/intermediates/incremental/packageReleaseResources/aapt-temp/
card.io/build/intermediates/incremental/packageReleaseResources/merged.dir/
card.io/build/intermediates/incremental/processDebugAndroidTestResources/
card.io/build/intermediates/incremental/processDebugResources/
card.io/build/intermediates/lint/
card.io/build/intermediates/manifest/tmp/
card.io/build/intermediates/rs/
card.io/build/intermediates/shaders/
card.io/src/main/jni/card.io-dmz/
lib/
